{
    "include": [
        "src/**/*.mjs"
    ],
    "extension": [
        ".mjs"
    ],
    "exclude": [
        "**/test"
    ],
    "reporter": [
        "text-summary",
        "html"
    ],
    "all": true
}